aif360==0.5.0
certifi @ file:///croot/certifi_1665076670883/work/certifi
charset-normalizer==2.1.1
cloudpickle==2.2.0
copulas==0.7.0
ctgan==0.5.2
cycler==0.11.0
deepecho==0.3.0.post1
Faker==14.2.1
fonttools==4.38.0
graphviz==0.20.1
idna==3.4
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.5.3
numpy==1.21.6
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
packaging==21.3
pandas==1.3.5
Pillow==9.3.0
plotly==5.11.0
psutil==5.9.3
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.6
PyYAML==5.4.1
rdt==1.2.1
requests==2.28.1
scikit-learn==1.0.2
scipy==1.7.3
sdmetrics==0.7.0
sdv==0.17.1
seaborn==0.12.1
six==1.16.0
tenacity==8.1.0
threadpoolctl==3.1.0
torch==1.13.0
torchvision==0.14.0
tqdm==4.64.1
typing_extensions==4.4.0
urllib3==1.26.12
